html {
	overflow:  hidden;
}

body {
  width: 100%;
  margin: auto;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #ffffff;
  background: #08589D;
}

.sendform {
  max-width: 375px;
  margin: auto;
  text-align: center;
}

.sendform textarea {
  width: 100%;
}

input[type=submit] {
  margin-top: 25px;
  padding: 15px 32px;
  background-color: #e7e7e7;
  font-size: 16px;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 15px;
  display: inline-block;
  color: black;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}